.body
    .storyTitle Get a Leg Up with P90x
    p At this point in the lifecycle of the universe P90x is a cliche.  It's that thing your fit friends bragged about and your fat friends complained about.  I've been there, both as the fit friend and the fat one.  I've been using periodically using Tony Horton to motivate myself for the last 15 years.
    p If you don't know what P90x is all about, then now - given the fact that your participating in a weight loss competition is a good time to think about trying it out.  It's a high energy, high intensity program that will leave you dripping with sweat and dog tired.
    p Over the years one of the most annoying things about P90x has been the fact that every time you wanted to work out, you had to jugle all of the dvd's looking for exactly the workout you were scheduled for. 
    p.emphasize Well that's no longer the case!  
    p Beachbody now makes all of their programs available on the beach body website, kinda like netflix for getting fit.  Right now, you can access 12 weeks of beach body workouts for $39.  With all the money you'll be winning, it's almost like its free.
    .button Get P90x Now

.endSpacer