
include header.pug

h2.title Flipping The Scales - Join a Weightloss Competition

.body
  p Hi #{name},

  p #{invitor} has invited you to join a weightloss competition.  To join, click the button below and create an account.

  a.button(href=`${rootURL}joinacompetition/${competitionID}`) Join Competition
  br
  br
