
include header.pug

.body

  p Hi #{name},

  p Diet is written written in stone - you must keep it under control to lose weight.  But the unsung hero of true change is a compelling fitness routine.  

  p A good fitness routine should provide for two separate goals: 

  ol
    li A cardio component that increases your total daily enery expenditure and allows you to super charge your weightloss
    li A muscle building element that adds muscle over time and increases the rate at which your body naturally burns calories
 
  p Every workout that you do will burn additional calories over what your body burns naturally.  An average person will burn around 300 calories over the course of a 30 minute jog.  Given that there are 3,500 calories in a pound, if you added a 30 minute run to your daily routine you will burn 1 extra pound every 10-12 days.  This is good, but it can be improved upon.

  h4 The Solution

  p A high intensity exercise program can burn the same level of calories, increase the afterburn effects of exercise and build muscle.  This is the magnificent trio.  Not only do you get the level of calorie burn that you would get from a pure cardio activity, but you maximize your bodies afterburn - the calories your body consumes recovering from strenuous activity.  One top of that, you build muscle.  Begginers gain muscle much more quickly than seasoned athletes, some estimate that new exercisers can gain between 5-8 pounds of muscle over a 12 week time period.  Because muscle burns 7-10 calories per pound that means that you can increase that rate at which you body burns calories 40-80 calories per day on top of the benefits you get from the exercise itself.

  p The real problem lies in finding the correct routine.  You can spend hours researching exactly what you should be doing instead of actually doing it.  There is where I can offer some guidance.  At the beginning of this year I discovered something that actually worked for me: P90X3.  P90X3 incorporates cardio and strength training into a 30 minute workout that burns calories and changes your body composition.  It has been the solution for me.

  h4 Beachbody On Demand

  p While P90X3 is undeniably great, I'll admit that 1 program will not be a perfect fit for everyone.  But Beachbody (the company that makes P90X3) has found a solution to that problem as well.  They have launched an On Demand platform, think Netflix for workouts, that includes all 61 of their programs.  A subscription offers access to every single one of these programs and allows you start and stop any program on your schedule.  It's an incredible value that allows you (and the others in your household) to find a program that works perfectly for your fitness level and schedule.  On top of that, they offer a 14 day free trial so you can give it a shot and make sure you find it as valuable as I do.

  p Go sign up right now and rev-up your calorie burning engine!

  a.button(href=`${beachbodyLinkURL}`) Get Beachbody On Demand

  p Now go flip your scale,
  p Ryan

  include footer.pug