
include header.pug

.body

  p Hi #{name},

  p Starting a new fitness routine is hard.  There is so much to think about: cardio or strength, legs or arms, what days should I exercise, the questions go on and on.  We all want to be fit.  But so often what stands in our way isn't the work that necessary to get there - it's all of the unanswered questions.

  p  Let's remove those questions.  We can do that with a subscription to Beachbody On Demand.  

  p Beachbody provides you with everything you need for success: The workouts, tracking materials and meal plans are all provided for you for a single subscription fee.  In fact, you can try out a 6 month subscription completely risk free for 30 days (i.e. you'll get your money back if you don't love it).

  p Beachbody allows you to choose from their entire 61 program library as you need.  You can select exactly the program that works for you.  You can sort and filter the programs based on fitness level, intensity, and type of routine.  I found a program that works perfectly for me - P90X3.  It's a 30 minute a day program that burns a ton of calories and builds muscle, exactly what I need.

  p I use Beachbody On Demand and I love it.  I love the positive changes I see in my body, I love that the number on my scale keeps falling, and I love that I don't have to spend my time and energy figuring out what exercise I need to do each day.

  p If you are serious about losing weight and changing your life, I know you'll love it too.

  p Go sign up right now and rev-up your calorie burning engine!

  a.button(href=`${beachbodyLinkURL}`) Get Beachbody On Demand

  p Now go flip your scale,
  p Ryan

  include footer.pug