
include header.pug

.body
  p Oh, and by the way it's completely free.
  
  p Hi #{name},

  p If you read the last email you probably know what's coming - the tool I want to talk about today is the MyFitnessPal app.  

  h4 Some Things You Need to Know About Food Journaling

  p MyFitnessPal gets more credit than it should, a lot of what I love about the app has nothing to do with the app itself - it has to do with the act of journaling.  

  p Food journaling represents a tectonic shift in how you will think about food.  It did for me atleast.  Even if you don't set a daily calorie goal for yourself, the act of journaling will help you regain control over your diet.  This happens for the simple reason that journaling forces you to face the harsh reality about your food choices.  When I first started journaling I was shocked to realize that I was easily consuming 3,000+ calories per day without thinking about it.  Once I started logging my calories I saw this number fall by 500-700 calories per day simply because I decided certain foods weren't worth the calories.

  h4 Food Journaling is Great and MyFitnessPal is the Best 

  p So if it's food journaling that is amazing, why use the MyFitnessPal app at all.  Simple, the database.  MyFitnessPal has the most extensive database of any journaling app.  It is extremely rare that you will come across a food that doesn't exist in the database.  

  p Of course, there are other great features, here are my favorites:

  ol
    li the diary is organized by meal so that you can easily separate breakfast, lunch, dinner, and snacks
    li you can define a calorie target and the app will clearly define where your day's intake stands in relation to the target
    li in addition to defining a calorie target, you can also define targets for carbs/fat/protien
    li it allows you to add calories burned during workouts
 
  h4 Set Your Goal and Track Your Progress

  p Weight loss isn't about a lucky day on the scale and it isn't about a new workout routine (although that helps).  Weightloss is about maintaining a consistent calorie deficit over time.  Logging you calorie intake through MyFitnessPal allows you to make sure you are doing exactly that.  

  p If you do only one thing consistently throughout your weightloss competition, let it be tracking your calories through MyFitnessPal.

  p Now go flip your scale,
  p Ryan

  include footer.pug