
include header.pug

h2.title It's Official - You're In!

.body
  p Hi #{name},

  p Welcome To Flipping the Scales!

  p You have taken the first step towards shedding pounds, improving your life, and crushing your friends and family in the process.  Good for you!

  p I'm Ryan the creator of Flipping the Scales, and this is a part-time project that I started after me and my friends struggled with the administrative aspects of hosting weightloss competitions for ourselves.  Managing competition design, communicating results, and keeping track of everyone's weight was a pain.  I want to fix that for you.

  h4 How Flipping the Scales Works

  p 
    | The web-app is fairly simple: once you create (or join) a competition you will have 1 responsibility - To log your weight on 
    a(href='www.FlippingTheScales.com?utm_source=email&utm_campaign=YouAreIn') Flipping the Scales
    | each week.  Everyone in the competition will be required to log their weight on the same day and to make sure that you don't forget I will send you an email reminder on the morning that your weigh-in is due letting you know that you need to do so.
  
  p The day after your competition's weigh-ins are due, I will send you another email letting you know what the results were for the week.  By design, competitions have a strictly enforced rule that you must record your weight on the day that the weigh-in is due.  If you don't you may not be eligible for some prizes that your competition awards.

  h4 Helping You Succeed

  p So much of weight loss success comes down to motivation and understanding the key drivers of losing weight.  I firmly believe that the best way to stay motivated is to be held accountable by people that you care about - and that's exactly what this app is all about.  If your not losing weight, then every week these people are going to see that you're not achieving your goals, which will help keep you focused.  

  p 
    | In addition to that, I go to great pains to consolidate information that will help you understand the basics of losing weight in our 
    a(href='www.FlippingTheScales.com/blog?utm_source=email&utm_campaign=YouAreIn') blog
    | .  You won't find any "Lose 10 Pounds in 10 Days" type articles (those don't work) but you will find real information that can help you record big losses over the course of a 12-20 week weight loss competition.

  h4 Yes, I'm a Real Person

  p And I'd love to hear from you.  Let me know what you love about the site, what you hate, what I need to fix, what I can do to help you reach your goals, anything at all really.  Also, this application is in a constant state of active development - bugs will occur from time to time and it is helpful if you let me know about them when they pop up, that way I can fix them for you as quickly as possible.

  p Should you want to stop recieving emails from me I do include an unsubscribe link at the bottom of every email that I send. 

  h4 This Website is Free!

  p And I want it to stay that way.  That being said it is expensive to run this service for thousands of people.  Not only do I have to invest a significant amount of time supporting, improving, and building the application - but I also, have to pay for servers, hosting, a domain name, email service providers, etc. All told it costs hundreds of dollars to keep the application up and running each month.  In order to support the cost of running the service, I will, from time to time, include links to products that I can personally vouch for that may pay me a commission whenever a sale occurs.  If you are considering purchasing any of the products I recommend, please purchase them through my affiliate links when you can - It is a tremendous help to fund the free service that I offer.  Additionally, I promise to never include an offer that I don't believe in or that would charge you more than if you were to purchase through another outlet.

  p That's it for now.  I'm excited that your here and I hope you lose a ton of weight.  

  p Now go flip your scale,
  p Ryan

  include footer.pug