
include header.pug

.body
  p Hi #{name},

  p When I was in high school a friend of mine, Dan, locked his keys in this car... with the ignition running.  It took all day for his parents to get his spare set of keys to him.  We were shocked when he finally unlocked the doors and only a quarter of a tank of fuel had burned.

  p Years later, when maintaining my weight was no longer as easy as it was in high school, I would think about that car and how it was a good analogy for what was going on in my body.  Today, with a stressful desk job and two toddlers to take care of, my mind goes a million miles an hour, but it seems my body is idling in a parking lot.  I think you see where I'm going with this.

  h4 This Analogy Holds Fairly Well

  p The first concept we need to talk about is Caloric intake.  Calories are the gasoline of the human body.  Eating a meal is the equivalent of filling up your gas tank.

  p The second important concept is Basal Metabolic Rate (BMR).  BMR is the amount of fuel that your body burns when you "car" is idling.  If you were to lay completely still in bed all day, you would burn a certain amount of energy.  The energy that you burn in this scenario is equal to your BMR.

  p Because you don't just lay in bed motionless all day and night you do burn some amount of energy over and above your BMR.  This additional energy expenditure is the equivalent of the extra fuel you would burn as you motor down the highway at 70 mph.  Adding this additional energy to your BMR allows you to arrive at a very important number - Total Daily Energy Expenditure.  

  h4 Total Daily Energy Expenditure (TDEE)

  p If you're interested in losing weight - and you must be since you're still reading this - then your TDEE is a number that you need to get a grip on.  You need to know how much fuel your car is burning so that you know how much fuel to put in the tank.  

  p 
    | There are a couple of ways to establish what your TDEE is.  The easiest (and where you should start) is by using one of the many online calculators that give you a rough estimate of your number (The one at 
    a(href='https://healthyeater.com/important-tool-weight-loss') HealthyEater.com 
    | is as good as any).  The second (and more difficult method) is to meticulously track you calorie intake over a period of 4-6 weeks and track any changes in weight.  The later method is difficult and it takes a while, but it allows you to determine a very accurate estimation of your true TDEE.  I've gone through the effort of tracking my TDEE and I've written about it in this article.  

  p Once you know your TDEE you can then begin to plan your weight loss.  

  h4 There are 3,500 Calories in a Pound

  p Well... roughly 3,500.  That means in order to lose 1 single pound you need to take in 3,500 fewer calories than you burn.  If you did the HealthyEater calculator above and determined that your TDEE is 2,500 calories, then to lose 1 pound you would need to eat 2,000 calories per day for a week.  The calculation here is: 2,000 consumed - 2,500 TDEE = -500 calorie deficit x 7 days = 3,500 calories or 1 pound.

  p Most people are not accustomed to counting calories, it is tedious and time consuming.  On top of that, most folks (yourself?) are accustom to eating when they're hungry and until they're full.  This mindless eating is not a formula for success.  In fact, it is probably the exact reason you have the extra pounds you are trying to get rid of right now.

  p In order to train yourself on how to target and eat a certain number of calories, it is important to track ALL of you food consumption.  You can do this by reading nutrition labels and tracking servings -OR- by using a free tool like MyFitnessPal.  

  h4 MyFitnessPal

  p 
    a(href='www.myfitnesspal.com') MyFitnessPal 
    | is a calorie tracking app that makes keeping track what your eating and how many calories end up in your fuel tank as easy as possible.  It's invaluable - you should download the app and begin using it today.  I'm going to be writing more about this in the next email.

  h4 The Levers You Can Pull

  p On any given day there are 2 levers you can pull that will affect your weight loss: the number of calories you consume and the calorie burning activity you engage in.  You pull these levers through diet and exercise.  However, there is a 3rd lever that makes losing weight significantly easier: building muscle.  Muscle is a calorie burning super furnace.  Each pound of muscle burns 4-5x as many calories as a pound of fat.  By replacing your fat stores with muscle you can reprogram your metabolism.

  p Diet is always going to have the biggest effect on weight loss - it is the #1 lever and you won't be able to reduce your weight without getting your diet under control.  But exercise is important for two reasons: 1. it allows you to burn additional calories and push up your total daily energy expenditure and 2. it allows you to build muscle which will increase your BMR (referenced earlier) and thus your TDEE.  A hidden 3rd benefit is that a body with some muscle tone is a lot more attractive than a skinny-fat one.

  p Building muscle is the only way to increase the fuel burning capacity of your engine, i.e. the only way to turn your moped into a sports car.  But you can't do it through mindless exercise, you need to have a plan.  My favorite forms of exercise incorporate both calorie burning aerobic components and muscle building strength training, but that is a topic for another email.  There is a very specific routine that I recommend for this - but I'm not spilling all of my secrets right now.  

  h4 That's All For Now

  p This email is already pushing 1,000 words and I don't want to keep you here all day.  If you've made it this far then hopefully you have a new sense of what it's going to take to meet your weight loss goals.

  p Now go flip your scale,
  p Ryan

  include footer.pug