
include header.pug

.body
  h2.title Flipping The Scales
  h3.subtitle To reset your password click the button below.

  a.button(href=`${link}?utm_source=email&utm_campaign=PasswordReset`) Reset Your Password
  br
  br
