
include header.pug

h2.title Don't Forget to Weigh-in

.body
  p Hi #{name},

  p You have a weigh-in that is due by 11:59pm EST tonight. Don't forget to weigh-in.  Missing a weigh-in can leave you ineligible for prizes that are awarded in your competition.

  p 
    | To record your weight, simply log into 
    a(href='www.flippingthescales.com/dashboard') FlippingTheScales
    |  and record your weight for #{competitionName}.
  
    a.button(href=`www.flippingthescales.com/dashboard`) Log Your Weight Now!

  p Keep Pushing!
  p Ryan