
include header.pug

h2.title Welcome to Flipping The Scales

.body
  p Hi #{name},

  p Welcome to flipping the scales. Before you go any further, we need to make sure you are a real person.  Please click the button below to confirm your email address.

  a.button(href=`${serverURL}userVerification/${userID}/${verificationString}`) Confirm Email
  br
  p 
    | Also, to get you up and running as quickly as possible - I have created a short 
    a(href='https://www.flippingthescales.com/blog/flipping-the-scales-competition-setup/') guide
    | that explains how to create your first competition.  I hope you'll find it helpful.
  br