
include header.pug

h2.title It's Official - You're In!

.body
  p Hi #{name},

  p Your account is all setup!

  p Now it's time to get started.  I want to share a quick tip on losing weight.  Dropping weight is all about taking in less calories than your body burns during the day.  To accomplish that I recommend two crucial resources: 1. <a href='www.myfitnesspal.com'>MyFitnessPal</a> for keeping track of the calories your consuming and 2. <a href='https://www.teambeachbody.com/shop/d/BODStandalone?referringRepID=1890747'>Beachbody on Demand</a> for burning extra calories everyday.

  p Beachbody On Demand is a great way to find a workout program that works for you (they have 61 programs).  A Beachbody On Demand subscription allows you to participate in every single program they offer for $39 a quarter - it's like Netflix for workouts.  

  p Lately, I have been doing P90x3 (the recently updated version of P90x that only takes 30 minutes) and have dropped 9lbs in less than 30 days.  Not only am I shedding pounds, but I'm also avoiding the dreaded skinny-fat physique that comes along with losing weight but not building muscle.

  p One more thing - I've worked out a deal with Beachbody that allows you to sign up for free for 14 days to test out the program. Just select the 3 month option at checkout. Now go sign up and get yourself fit!

  a.button(href=`https://www.teambeachbody.com/shop/d/BODStandalone?referringRepID=1890747`) Get BeachBody On Demand

  p By the way, I am a Beachbody coach, so if you have any questions about their products I am 100% happy to help.  Also, I do recieve a small commission on sales that I generate, and those commissions help me maintain Flipping the Scales at no charge to you!

  p Best,
  p Ryan

  include footer.pug